extend layout
block content
  div(ng-app='rssRunner')
    div(ng-controller='ArticleController')

      .feed(ng-model='Article')
        .article(ng-repeat='article in articles', ng-show='! article.archived')
          h2
            a(href='{{article.url}}', target='_blank')
              {{ article.title }}
          span.sub {{ article.url }}
          p
            strong Matching: 
            span(ng-repeat='keyword in article.keywords')
              {{ keyword }}
              span(ng-show='! $last') , 
            &nbsp;|&nbsp;
            a(ng-click='delete()') Delete

      .feed
        h2
          a(ng-click='loadMore()') Load the next 20 matches


  script(src='/js/lib/angular/angular.js')
  script(src='/js/lib/angular-resource/angular-resource.js')
  script(src='/js/feed.js')