!!!5
html
  head
    title "RSS Runner"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 RSS Runner
      p
        a(href='/') Articles
        a(href='/log') Log
        a(href='/keywords') Keyword List 
        a(href='/feeds') Feeds
    .container
      block content

