extend layout
block content
  if log
    p 
      em Script will run automatically every hour at 20 past the hour &mdash; 
      a(href='/run') Run script now

    for entry in log
      p #{entry.text} at #{entry.timestamp}

  if status
    p= status